<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
        scope="context"
        name="applicationName"
        source="spring.application.name"
        defaultValue="sonuSaitringManagement"/>

    <springProperty
        scope="context"
        name="logstashHost"
        source="logging.logstash.host"
        defaultValue="localhost:5000"/>


    <appender
        name="CONSOLE"
        class="ch.qos.logback.core.ConsoleAppender">

        <encoder
            class="net.logstash.logback.encoder.LogstashEncoder">

            <includeMdc>true</includeMdc>

            <customFields>
                {
                    "application":"${applicationName}",
                    "environment":"${ENVIRONMENT:-development}"
                }
            </customFields>

        </encoder>

    </appender>


    <appender
        name="LOGSTASH"
        class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>${logstashHost}</destination>

        <encoder
            class="net.logstash.logback.encoder.LogstashEncoder">

            <includeMdc>true</includeMdc>

            <customFields>
                {
                    "application":"${applicationName}",
                    "environment":"${ENVIRONMENT:-development}"
                }
            </customFields>

        </encoder>

    </appender>



    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

        <appender-ref ref="LOGSTASH"/>

    </root>

</configuration>